body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(211, 241, 241);
}
.title{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;

}
.div1{
  display:block;
  box-shadow: 5px 5px 15px 5px rgba(185, 129, 129, 0);
}
.field_type{
   margin: 10px 0px;
   padding: 10px;
   border-radius: 5px;
}